---
  name: Nightly check

  on:
    schedule:
      - cron: "0 0 * * *"
    workflow_dispatch: {}

  concurrency:
    group: nightly-${{ github.ref }}
    cancel-in-progress: true

  jobs:
    linkCheck:
      name: Run link check
      runs-on: ubuntu-latest
      permissions:
        contents: read
      steps:
        - uses: actions/checkout@v4
        - name: LinkCheck
          id: linkcheck
          uses: umbrelladocs/action-linkspector@v1
          with:
            reporter: github-check
            fail_level: error
            config_file: .github/workflows/link-check.yml

    slackNotification:
      needs: linkCheck
      if: ${{ failure() }}
      runs-on: ubuntu-latest
      steps:
        - name: Slack Notification
          uses: ConsenSys/github-actions/slack-notify@main
          with:
            SLACK_CHANNEL: doc-ci-alerts
            SLACK_COLOR: danger
            SLACK_TITLE: Teku docs nightly build - Failure
            SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
            MSG_MINIMAL: true
